<%= form_for(paragraph) do |f| %>
  <% if paragraph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paragraph.errors.count, "error") %> prohibited this paragraph from being saved:</h2>

      <ul>
      <% paragraph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chapter_id %>
    <%= f.text_field :chapter_id %>
  </div>

  <div class="field">
    <%= f.label :word_count %>
    <%= f.number_field :word_count %>
  </div>

  <div class="field">
    <%= f.label :words %>
    <%= f.text_area :words %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
